*{
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

body{
  background-color: rgb(250, 250, 250);
}
h1,
p {
  font-family: -apple-system, BlinkMacSystemFont,'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1{
  text-align: center;
  background-color: #000;
  color: #fff;
  margin-bottom: 1rem;
}

p{
  color: #7a7a7a;
  display: flex;
  margin:1.4rem 0 1rem;
}

main{
  padding: 1rem 2rem;
}

.items--wrapper{
  width: 55%;
  margin: 1.5rem auto 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
  gap: 1.7rem;
  justify-content: center;
  transition: all 1s ease-in-out;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 1s ease-in-out;
}
.Stack{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: .3rem;
  transition: all 1s ease-in-out;
}

@media screen and (min-width: 590px){
  .container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

/*     .Stack{
    width: 100%;
    margin-left: auto;
    justify-content: flex-start;
    transition: all 1s ease-in;
  } */

 .inner--searchbar{
   width: 25%;
  }
  
  .Result{
   width: 71%;
 }

 .items--wrapper{
  grid-template-columns: repeat(auto-fill, minmax(12rem, 1fr));
   grid-auto-rows: minmax(12rem, 16rem);
 }


}

